/* Global settings. */
window#waybar {
	font-size: 17px;
    font-family: "Hack", "Symbols Nerd Font Mono";
	background: #000000;
	color: #eeeeee;
}

/* Non-focused workspaces with spawned windows. */
#workspaces {
    margin-left: 5pt;
}

/* Non-focused workspaces with spawned windows. */
#workspaces button {
	padding: 0 6px; color: #eeeeee;
}

/* Non-focused workspaces without spawned windows. */
#workspaces button.persistent {
	color: #7c7c7c;
}

/* Focused workspace. */
#workspaces button.focused {
	color: #eeeeee;
    border-radius: 0;
    border-bottom: 2px solid #eeeeee;
}

/* Sway mode module. */
#mode {
    color: red;
    margin: 0 17px;
}

/* Other modules settings.*/
#pulseaudio,
#memory,
#cpu,
#temperature,
#battery,
#backlight,
#disk {
    padding: 0 3px;
	color: #eeeeee;
    margin: 0 13px;
    border-radius: 0;
    border-bottom: 2px solid #EEEEEE;
}

/* Muted pulseaudio module settings.*/
#pulseaudio.muted {
	color: #7c7c7c;
    border-radius: 0;
    border-bottom: 2px solid #7c7c7c;
}

/* Clock module settings.*/
#clock {
	color: #eeeeee;
    margin: 0 17px;
}
